<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Webpage">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">

		<title>{{ siteData.name}}{% if title %} | {{title}}{% endif %}</title>

		<meta name="description" content="{{ description }}">
		<meta name="robots" content="all">

		<meta name="author" content="{{ siteData.name}}">
		<meta name="Copyright" content="Copyright {{ siteData.name}} ©{% year %}. All Rights Reserved.">
	</head>

	<body>
		<header role="banner">
			{% include "nav.njk" %}
		</header>

		<main role="main">{{ content | safe }}</main>

		<footer role="footer">
			{% include "footer.njk" %}
		</footer>
	</body>
</html>
